{% extends "base.html" %}

            {% block content %}
<h1>Понравился сайт? Хотите такой же и даже лучше?</h1>
                    <p>Обращайтесь по перечисленным почте и соцсетям. Также предоставляются услуги по созданию телеграмм-ботов и интеграции нейросетей.</p>

<h1 class="mt-4">Контактные данные</h1>
<p>Github: <a href="http://github.com/Aksey010" style="text-decoration:none;" >http://github.com/Aksey010</a></p>
<p>Почта: <a href="mailto:Aksey_new@mail.ru" style="text-decoration:none;">Aksey_new@mail.ru</a></p>
<p>ВК: <a href="https://vk.com/id722967018"  style="text-decoration:none;">Aksey New </a></p>

            {% endblock %}
