{% extends "base_basket.html" %}
            {% block content %}
<h1>Выберите товары, а затем заполните форму внизу, чтобы оформить заказ.</h1>

            <div class="container px-4 px-lg-5 mt-5">
<form method="post">{% csrf_token %}
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    {% for item in object_list %}



                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ item.basket_item.image_links }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ item.basket_item.name }}</h5>
                                    <!-- Product price-->
                                    {{ item.basket_item.cost }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">

<!--                                         TODO разобраться с формой-->
                                    <input value="0" type="number" name="product_in_basket_{{ item.id }}">



                                </div>
                            </div>
                        </div>
                    </div>



                    {% endfor %}




                </div>
                {{ form.as_p }}
    <button class="btn btn-outline-dark flex-shrink-0" type="submit">Оформить заказ</button>

            </div>
 </form>
{% endblock %}